doctype html
html(ng-app='MyAdmin')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/vendor/trix/trix.css')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/trix/trix.js')
    script(src='/vendor/angular-trix.min.js')
    script(src='/assets/scripts/admin.js')
    body
      h2 Current Blog Posts:
      div.post-list(ng-controller='PostListController')
        ol
        each post in posts
          li
              h5 #{post.title} 
                span= prettyDate(post.date_added)
                button(ng-click="edit(#{post.id})") Edit
                a(href='/blog/#{post.id}') View
      div.newPost
        div.post-write(ng-controller="NewPostController")
          form
            input(type='text', ng-model="title")
            trix-editor(angular-trix, ng-model='body')
            input(type='submit', ng-click='submit()')

         
