doctype html
html(ng-app='BlogPost')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/blog.css')
    script(src='/vendor/angular/angular.min.js')
    script(src='/assets/scripts/blog.js')
    body
      header
        ul
          li 
            a HOME
          li
            a ARCHIVE
      h1 is my blag
      div.post-container
        div.post
          h3= header
          p!= postBody
        div.post-nav
          ul
            each num in range
              a(href="/blog/#{num}")
                li= num
