doctype html
html(ng-app='BlogPost')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/blog.css')
    script(src='/vendor/angular/angular.min.js')
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    script(src='/assets/scripts/blog.js')
    body
      header
        ul
          li.hvr-shutter-out-horizontal 
            a(href='/') HOME
          li.hvr-shutter-out-horizontal
            a ARCHIVE
          li.hvr-shutter-out-horizontal
            a CONTACT
      h1 Come Node With Me
      div.post-container
        div.post
          p.date Posted on 
            span= util.dateString(postDate)
          if editDate  
            p.editDate (EDITED ON 
              span= util.dateString(editDate).toUpperCase() + ')'
          h3= header
          p!= postBody
          div.pagination-wrap  
            div.pagination
              ul
                - var prev = article_id - 1
                - var next = article_id + 1
                unless article_id == 1
                  li
                    a.clean-link(href='/blog/1') First
                else
                  li.disabled
                    a
                if prev
                  li
                    a.clean-link(href="/blog/#{prev}") &#9668
                else
                  li.disabled
                    a  
                each num, index in range
                  unless num == article_id
                    li
                      a.clean-link(href="/blog/#{num}")= num
                  else
                    li.active
                      a= num
                - var lastPage = range[range.length - 1] == article_id
                unless lastPage
                  li
                    a.clean-link(href="/blog/#{next}") &#9658
                  li
                    a.clean-link(href='/blog/latest') Last
                else
                  li.disabled
                    a
                  li.disabled
                    a
                
            
            
    
    
    link(rel='stylesheet', href='/stylesheets/desert.css')
