doctype html
html(ng-app='BlogPost')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/blog.css')
    script(src='/vendor/angular/angular.min.js')
    script(src='/assets/scripts/blog.js')
    body
      header
        ul
          li.hvr-shutter-out-horizontal 
            a HOME
          li.hvr-shutter-out-horizontal
            a ARCHIVE
      h1 is my blug
      div.post-container
        div.post
          h3= header
          p Posted on 
            span= prettyDate(postDate)
          p!= postBody
        div.post-nav
          ul
            - var prev = current - 1
            - var next = current + 1
            a(href="/blog/#{prev}") &#9668 Prev
            each num, index in range
              a(href="/blog/#{num}")
                li= num
              if index !== range.length - 1
                span /
            a(href="/blog/#{next}") &#9658 Next
